##Data to be used:

In [2]:
survey='https://github.com/lmchu1/WomenLeaders599/raw/master/Nov14%20Gender%20and%20Leadership_cleaned.csv'
reps='https://github.com/lmchu1/WomenLeaders599/raw/master/women_state_legislatures.xlsx'
states='https://github.com/lmchu1/WomenLeaders599/raw/master/599_States.xlsx'

##Reading the data:

In [3]:
import pandas as pd
survey_data=pd.read_csv(survey)
reps_data=pd.read_excel(reps)
states_codes=pd.read_excel(states)

In [4]:
survey_data.head()

,CaseID,Q1,Q4A,Q4B,Q4C,Q4D,Q5A,Q5B,Q6A,Q6B,...,PPSTATEN,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PPWORK,PPNET,weight,duration
0,3,2,3,3,4,3,3,3,3,3,...,43,0,0,0,0,2,1,1,0.6284,91
1,4,1,1,1,2,1,3,3,3,3,...,59,0,0,0,0,2,1,1,1.0476,3
2,5,2,2,2,2,1,3,3,3,-1,...,14,0,1,0,0,1,7,1,1.5255,12
3,6,2,3,2,3,2,3,3,3,3,...,64,0,0,0,0,1,1,1,0.7028,9
4,7,1,3,2,3,2,3,3,2,1,...,54,0,0,0,0,1,1,1,1.0476,8

In [5]:
reps_data.head()

,State,State Abbreviation,Number of Women Legislators in the House / Assembly,Number of Women Legislators in the Senate,Total Number of Women Legislators,Total Seats in the Legislature,Percentage of Women in the Legislature
0,Alabama,AL,15,5,20,140,0.143
1,Alaska,AK,12,4,16,60,0.267
2,Arizona,AZ,19,13,32,90,0.356
3,Arkansas,AR,17,6,23,135,0.17
4,California,CA,20,12,32,120,0.267

In [9]:
states_codes.columns

Index(['State_code', 'State'], dtype='object')

In [7]:
reps_data.columns

Index(['State', 'State Abbreviation',
       'Number of Women Legislators in the House / Assembly',
       'Number of Women Legislators in the Senate',
       'Total Number of Women Legislators', 'Total Seats in the Legislature',
       'Percentage of Women in the Legislature'],
      dtype='object')

##Data set preparation:

In [6]:
small_survey_data=survey_data[['ppagecat', 'PPEDUC', 'PPETHM', 'PPGENDER', 'PPINCIMP', 'PPSTATEN', 'PPWORK', 'XPARTY7', 'Q5A']]
small_survey_data.head()

,ppagecat,PPEDUC,PPETHM,PPGENDER,PPINCIMP,PPSTATEN,PPWORK,XPARTY7,Q5A
0,5,9,1,2,10,43,1,1,3
1,3,14,1,2,16,59,1,7,3
2,2,9,2,2,10,14,7,5,3
3,5,13,1,2,12,64,1,2,3
4,2,13,1,2,15,54,1,1,3

In [8]:
small_reps_data=reps_data[['State Abbreviation', 'Percentage of Women in the Legislature']]
small_reps_data.head()

  State Abbreviation Percentage of Women in the Legislature
0                 AL                                  0.143
1                 AK                                  0.267
2                 AZ                                  0.356
3                 AR                                   0.17
4                 CA                                  0.267

##Merging and cleaning the data files:

In [10]:
join1=pd.merge(small_survey_data,states_codes,left_on='PPSTATEN',right_on='State_code')

join1.head()

,ppagecat,PPEDUC,PPETHM,PPGENDER,PPINCIMP,PPSTATEN,PPWORK,XPARTY7,Q5A,State_code,State
0,5,9,1,2,10,43,1,1,3,43,MO
1,5,12,1,1,16,43,4,5,3,43,MO
2,4,7,1,1,12,43,1,3,1,43,MO
3,2,10,1,2,17,43,2,3,1,43,MO
4,4,6,1,2,11,43,1,6,3,43,MO

In [11]:
alldata=pd.merge(join1,small_reps_data,left_on='State',right_on='State Abbreviation')
alldata.head()

In [13]:
alldata.shape

(1830, 13)

In [15]:
byefelicia=['PPSTATEN', 'State_code', 'State Abbreviation']
alldata.drop(byefelicia,axis=1,inplace=True)

##Renaming the columns in the merged data file:

In [26]:
dict={'ppagecat':'age', 'PPEDUC':'educ', 'PPETHM':'race', 'PPGENDER':'gender', 'PPINCIMP':'hhincome', 'PPWORK':'employment', 'XPARTY7':'party', 'Q5A':'opinion_leaders', 'State':'state', 'Percentage of Women in the Legislature':'perc_women'}

In [29]:
alldata.rename(columns=dict, inplace=True)
alldata.head()

,age,educ,race,gender,hhincome,employment,party,opinion_leaders,state,perc_women
0,5,9,1,2,10,1,1,3,MO,0.218
1,5,12,1,1,16,4,5,3,MO,0.218
2,4,7,1,1,12,1,3,1,MO,0.218
3,2,10,1,2,17,2,3,1,MO,0.218
4,4,6,1,2,11,1,6,3,MO,0.218
5,2,10,1,1,14,1,3,3,MO,0.218
6,5,13,1,2,14,5,2,3,MO,0.218
7,5,10,2,1,7,6,7,3,MO,0.218
8,4,13,1,2,13,2,7,3,MO,0.218
9,1,9,2,2,8,4,7,1,MO,0.218
10,5,9,1,1,12,1,1,3,MO,0.218
11,5,13,1,2,15,1,6,3,MO,0.218
12,1,9,4,2,1,1,6,3,MO,0.218
13,1,9,2,1,10,1,6,2,MO,0.218
14,1,10,1,2,12,7,3,3,MO,0.218
15,2,11,1,1,13,1,1,3,MO,0.218
16,1,9,2,2,4,4,4,-1,MO,0.218
17,5,9,1,1,6,6,5,3,MO,0.218
18,6,9,1,2,11,2,6,3,MO,0.218
19,5,9,1,1,8,1,4,3,MO,0.218
20,4,7,3,2,11,1,5,3,MO,0.218
21,3,12,1,2,16,1,7,3,MO,0.218
22,3,12,1,2,19,1,3,3,MO,0.218
23,1,9,4,1,14,7,3,1,MO,0.218
24,5,10,1,1,13,5,3,3,MO,0.218
25,3,14,1,2,16,1,7,3,FL,0.256
26,1,10,1,2,13,1,1,3,FL,0.256
27,1,8,4,2,9,4,5,3,FL,0.256
28,6,14,1,2,16,5,2,3,FL,0.256
29,3,10,2,2,14,1,7,3,FL,0.256
...,...,...,...,...,...,...,...,...,...,...
1800,5,9,1,2,14,1,2,3,WY,15.6%
1801,4,11,1,2,19,2,3,3,WY,15.6%
1802,5,13,1,2,10,6,5,3,WY,15.6%
1803,5,10,1,1,8,5,1,1,MT,0.267
1804,1,9,1,2,8,7,1,1,MT,0.267
1805,5,9,1,1,13,5,3,1,MT,0.267
1806,7,9,1,2,9,5,6,3,MT,0.267
1807,4,10,1,1,16,1,1,3,ME,0.296
1808,6,10,1,1,4,5,3,3,ME,0.296
1809,5,10,1,1,12,1,3,3,ME,0.296
1810,5,9,1,2,9,5,2,2,ME,0.296
1811,3,12,1,2,16,1,3,3,ME,0.296
1812,4,9,1,2,4,1,7,2,ME,0.296
1813,6,10,1,1,15,5,7,1,ME,0.296
1814,5,9,1,2,8,1,7,2,ME,0.296
1815,1,9,1,2,19,1,3,3,ME,0.296
1816,4,9,1,1,8,6,1,1,ME,0.296
1817,4,9,1,2,1,1,6,3,DE,0.258
1818,4,9,2,1,2,4,5,3,DE,0.258
1819,5,9,1,1,14,1,3,3,DE,0.258
1820,2,9,4,1,12,4,7,1,DE,0.258
1821,5,9,1,2,13,5,3,3,SD,0.229
1822,5,11,1,2,7,5,1,3,SD,0.229
1823,4,9,1,1,16,2,6,1,SD,0.229
1824,5,10,1,1,9,2,7,2,SD,0.229
1825,4,12,1,1,15,1,1,3,SD,0.229
1826,4,11,1,1,19,1,2,3,AK,0.267
1827,4,12,1,2,19,1,2,3,AK,0.267
1828,1,10,1,1,18,4,5,3,RI,0.265
1829,4,9,1,1,15,2,3,3,RI,0.265

##Data information:

In [30]:
alldata.dtypes

age                 int64
educ                int64
race                int64
gender              int64
hhincome            int64
employment          int64
party               int64
opinion_leaders     int64
state              object
perc_women         object
dtype: object

In [35]:
#change data type:
headernames=alldata.columns
alldata[headernames['race', 'gender', 'employment', 'party', 'opinion_leaders']].astype('category')

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [31]:
alldata.iloc[:,2:].describe()

,race,gender,hhincome,employment,party,opinion_leaders
count,1830.000000,1830.000000,1830.000000,1830.000000,1830.000000,1830.00000
mean,1.622951,1.501639,12.198907,2.944809,4.145902,2.57541
std,1.171895,0.500134,4.405226,2.203361,2.093762,0.82375
min,1.000000,1.000000,1.000000,1.000000,1.000000,-1.00000
25%,1.000000,1.000000,9.000000,1.000000,2.000000,3.00000
50%,1.000000,2.000000,13.000000,2.000000,5.000000,3.00000
75%,2.000000,2.000000,16.000000,5.000000,6.000000,3.00000
max,5.000000,2.000000,19.000000,7.000000,7.000000,3.00000

In [32]:
alldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830 entries, 0 to 1829
Data columns (total 10 columns):
age                1830 non-null int64
educ               1830 non-null int64
race               1830 non-null int64
gender             1830 non-null int64
hhincome           1830 non-null int64
employment         1830 non-null int64
party              1830 non-null int64
opinion_leaders    1830 non-null int64
state              1830 non-null object
perc_women         1830 non-null object
dtypes: int64(8), object(2)
memory usage: 157.3+ KB